{% extends 'home/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        #main {
            min-height: 100vh;
        }
    </style>
{% endblock stylesheets %}

{% block body %}

    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment" id="main">

            {% include 'home/includes/inbody-menu.html.twig' %}

            <div class="ui text container">
                <h1 class="ui inverted header">Mot de passe oublié</h1>
                <br>
                {% if error is defined %}
                    {% if error.code == 0 %}
                        <div class="error-msg">Identifiants incorrects</div>
                        <br>
                    {% endif %}
                {% endif %}
                <form action="" method="post" class="ui form">
                    <div class="ui fluid input">
                        <input type="email" name="email" class="ui input" placeholder="Adresse email"/>
                    </div>
                    <br>
                    <br>
                    <button type="submit" class="ui inverted green button huge">Envoyer le mail</button>
                </form>
                <br>

            </div>
        </div>
    </div>

{% endblock body %}