{% extends 'home/base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}

    <h1>Mentions légales</h1>

    <div>
        <ul>
            <li><a href="{{ home }}"></a></li>
            <li><a href="{{ login }}"></a></li>
            <li><a href="{{ register }}"></a></li>
            <li><a href="{{  }}"></a></li>
            <li><a href="{{ home }}"></a></li>
        </ul>
    </div>




{% endblock body %}