{% extends 'child-dashboard/base.html.twig' %}

{% block left_page_title %}Quêtes{% endblock %}

{% block left_page %}

    <div class="quests-page">
        <div class="ui accordion">
            {% for q in child.quests  | filter(q => q.status == 1)  %}
                {% include 'child-dashboard/includes/quest-card.html.twig' with {'quest': q} %}
            {% endfor %}
        </div>
    </div>

{% endblock %}



{% block right_page_title %}Trophées{% endblock %}

{% block right_page %}

    <div class="quests-page-details">
        {% for t in ts.nextTrophiesOfCategories(child) %}
            {% include 'child-dashboard/includes/trophy-card.html.twig' with {'trophy': t, 'owned': false} %}
        {% endfor %}
        {% for t in child.trophies | reverse | slice(0,5) %}
            {% include 'child-dashboard/includes/trophy-card.html.twig' with {'trophy': t, 'owned': true} %}
        {% endfor %}
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="{{ asset('css/quests.css', 'quest-book') }}" type="text/css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.min.css" type="text/css" />
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/components/accordion.min.js"></script>
    <script src="{{ asset('js/api.js', 'quest-book') }}"></script>
{% endblock %}