{% extends 'child-dashboard/base.html.twig' %}

{% block left_page_title %}Images{% endblock %}

{% block left_page %}

    <div class="shop-images">
        {% for q in child.quests if q.status == 1 %}
            {% include 'child-dashboard/includes/quest-card.html.twig' with {'quest': q} %}
        {% endfor %}
    </div>

{% endblock %}

{% block right_page_title %}Récompenses{% endblock %}

{% block right_page %}
    <img class="ui middle aligned mini image" src="{{ asset('img/gold-coins.png', 'quest-book') }}" alt="Image pièces d'or"> <span>{{ child.goldCoins }}</span>
    <div class="ui divider"></div>

    <div class="shop-rewards ui grid">


        {% for r in child.parent.customRewards %}
            {% include 'child-dashboard/includes/reward-card.html.twig' with {'reward': r} %}

        {% endfor %}
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/quests.css', 'quest-book') }}" type="text/css" />
{% endblock %}
