{% extends 'child-dashboard/base.html.twig' %}

{% block left_page_title %}Quêtes{% endblock %}

{% block left_page %}

    <div class="shop-images">
        {% for q in child.quests if q.status == 1 %}
            {% include 'child-dashboard/includes/quest-card.html.twig' with {'quest': q} %}
        {% endfor %}
    </div>

{% endblock %}

{% block right_page %}

    <div class="shop-rewards">
        {% for q in child.quests if q.status == 1 %}
            {% include 'child-dashboard/includes/quest-details.html.twig' with {'quest': q} %}


        {% endfor %}
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/quests.css', 'quest-book') }}" type="text/css" />
{% endblock %}
