<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Journal de quêtes{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet"  href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"  type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/main.css', 'quest-book') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/left-menu.css', 'quest-book') }}" type="text/css" />
        <link rel="stylesheet" href="{{ asset('css/rpg-awesome.min.css', 'ra') }}"/>


        <script
                src="https://code.jquery.com/jquery-3.1.1.min.js"
                integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
                crossorigin="anonymous">

        </script>
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>

        <div class="container">
            <div id="quest-book">
                <div class="mobile-menu tablet mobile only">
                    {% include('child-dashboard/includes/mobile-menu.html.twig') %}
                </div>
                <div class="ui stackable grid">
                        <div class=" computer only left-margin two wide column">
                            {% block left_margin %}{% endblock %}
                            {% include 'child-dashboard/includes/left-menu.html.twig' %}
                        </div>
                        <div class="left-page six wide computer eight wide tablet column">
                            <h1>{% block left_page_title %}Titre base{% endblock %}</h1>
                            {% block left_page %}{% endblock %}
                        </div>
                        <div class="right-page six wide computer eight wide tablet column">
                            <h1>{% block right_page_title %}{% endblock %}</h1>
                            {% block right_page %}{% endblock %}
                        </div>
                        <div class="computer only right-margin two wide column">
                            {% block right_margin %}{% endblock %}
                        </div>
                </div>
            </div>
        </div>

    </body>
</html>
