<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    {% for l, messages in app.flashes %}
        {% for m in messages %}
            <div class="ui inline nag {{ l }}" style="display: block">
                    <span class="title">
                        {{ m }}
                    </span>
                {#                    <i class="close icon"></i>#}
            </div>
        {% endfor %}
    {% endfor %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
