<div class="quest-card" id="quest-card-{{ q.id }}" onclick="displayQuestDetails({{ quest.id }})">
    {{ quest.title }}

</div>



<style>
    .quest-card {
        font-family: "Fantasy1", Lato, "Helvetica Neue", sans-serif !important;
        font-weight: bold;
        font-size: 1.2em;
        padding: 10px;
        border-radius: 3px;
        border: 1px solid black;
        margin-bottom: 10px;
    }

    .quest-card.selected {

        box-shadow: black 0 0 5px;
    }
</style>

<script>

    /** Affiche les détails de la quêtes cliquée **/
    function displayQuestDetails(questId) {
        const allQuestDetails = document.getElementsByClassName('quest-details');
        const allQuestCards = document.getElementsByClassName('quest-card');

        for (let i = 0; i < allQuestDetails.length; i++) {
            allQuestDetails[i].classList.add('hidden');
            allQuestCards[i].classList.remove('selected');
        }

        const questDetails = document.getElementById("quest-details-"+questId);
        questDetails.classList.remove('hidden');

        const questCard = document.getElementById('quest-card-'+questId);
        questCard.classList.add('selected');
    }
</script>