{#<div class="ui accordion">#}
<div class="trophy-card" id="trophy-card-{{ trophy.id }}">
    <div class="title">
        <i class="ra ra-trophy"></i>
        {{ trophy.title }}
    </div>

    <div class="content">
        <p>{{ trophy.description }}</p>
    </div>
</div>
{#</div>#}


<style>

    .trophy-card {
        border: 1px solid #333;
        padding: 5px;
        border-radius: 3px;
        margin-bottom: 10px;
    }

    .quest-card .content {
        padding-left: 20px;
    }
</style>