
{% if t is not null %}
<div class="trophy-card{% if owned %} owned{% endif %}" id="trophy-card-{{ trophy.id }}">
    <div class="title">
        <i class="ra ra-trophy"></i>
        {{ trophy.title }}
    </div>

    <div class="content">
        <p>{{ t.description }}</p>
    </div>
</div>
{% endif %}



<style>

    .trophy-card {
        border: 1px solid #333;
        padding: 5px;
        border-radius: 3px;
        margin-bottom: 10px;
    }

    .quest-card .content {
        padding-left: 20px;
    }

    .trophy-card.owned {
        border-color: dimgrey;
        color: dimgrey;
    }
</style>